@using ProjectPOS.Web.Security

@if (!string.IsNullOrEmpty(SessionPersister.Username))
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {    
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                <span class="navbar-brand">Hello @SessionPersister.Username | Outlet Id : @SessionPersister.Outlet</span>
            </li>
            <li>@Html.ActionLink("Logout", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Logout", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}