@using ProjectPOS.Web.Security

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if(!string.IsNullOrEmpty(SessionPersister.Username)){
            var roleId = int.Parse(SessionPersister.RoleId);
            switch (roleId)
            {
                case 1:
                    <li>@Html.ActionLink("Category", "Index", "Category")</li>
                    <li>@Html.ActionLink("Items", "Index", "Items")</li>
                    break;
                case 2:
                    <li>@Html.ActionLink("Supplier", "Index", "Supplier")</li>
                    break;
                case 3:
                    <li>@Html.ActionLink("Outlet", "Index", "Outlet")</li>
                    break;
                default:
                    break;
            }
            }

    </ul>
    @Html.Partial("_LoginPartial")
</div>
