<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @*<li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
        <li>@Html.ActionLink("Category", "Index", "Category")</li>
        <li>@Html.ActionLink("Supplier", "Index", "Supplier")</li>
        <li>@Html.ActionLink("Outlet", "Index", "Outlet")</li>
    </ul>
    @Html.Partial("_LoginPartial")
</div>
