@model IEnumerable<MiniProjectPOS.ViewModel.ItemsVariantViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VariantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VariantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}
    <tr>
        <td colspan="3">
            <button type="button" class="btn btn-action btn-manage btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
        </td>
    </tr>
</table>
