@model IEnumerable<MiniProjectPOS.ViewModel.ItemsViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VariantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertStock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VariantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlertStock)
            </td>
            <td>
                <div class="btn-group btn-group-sm btn-group-solid">
                    <button type="button" class="btn btn-action btn-edit btn-warning" data-id="@item.ID"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-action btn-details btn-success" data-id="@item.ID"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-action btn-delete btn-danger" data-id="@item.ID"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </div>
            </td>
        </tr>
    }
</table>

<script type="text/javascript">
    $(".btn-edit").click(
    function () {
        
        var vid = $(this).attr("data-id");
        alert('Masuk : ' + vid);
        @*$.ajax({
            url: '@Url.Action("Edit", "Items")',
            data: { id: vid },
            type: 'get',
            success: function (result) {
                $(".modal-body").html(result);
                $("#modal-form").modal("show");
            }
        });*@
    }
);
</script>